* {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
  background-color: rgb(248, 248, 248);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Vazir;
  direction: rtl;
  margin: 80px auto 50px;
}

.label {
  font-size: 15px;
  color: rgb(66, 66, 66);
  font-weight: 600;
  margin-left: 10px;
  margin: 10px;
}

.alignLabels {
  width: 120px;
  text-align: center;
}

.biggerAlignLabels {
  width: 220px;
  text-align: center;
}

.hugeAlignLabels {
  width: 350px;
  text-align: center;
}

.input {
  padding: 3px 10px;
  width: 200px;
  font-size: 1em;
  color: rgb(66, 66, 66);
  font-family: Vazir;
  border: none;
  border-radius: 5px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  margin: 10px auto;
  box-shadow: 2px 2px 2px rgb(226, 225, 225);
  transition: width 1s;
  text-align: center;
}

.input:focus {
  border-bottom: solid 2px #5970f3;
  width: 250px;
}

.singleInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px 20px;
}

.longInput {
  padding: 3px 10px;
  width: 350px;
  font-size: 1em;
  color: rgb(66, 66, 66);
  font-family: Vazir;
  border: none;
  border-radius: 5px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  margin: 10px auto;
  box-shadow: 2px 2px 2px rgb(226, 225, 225);
  transition: width 1s;
  text-align: center;
}

.longInput:focus {
  border-bottom: solid 2px #5970f3;
  width: 400px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.shortInput {
  padding: 3px 10px;
  width: 70px;
  font-size: 1em;
  color: rgb(66, 66, 66);
  font-family: Vazir;
  border: none;
  border-radius: 5px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  margin: 10px 5px;
  box-shadow: 2px 2px 2px rgb(226, 225, 225);
  transition: width 1s;
  text-align: center;
}

.shortInput:focus {
  border-bottom: solid 2px #5970f3;
  width: 80px;
}

.submitBtn {
  width: 100px;
  height: 50px;
  color: white;
  background-color: rgb(61, 61, 150);
  border: none;
  border-radius: 15px;
  font-family: Vazir;
  margin: 0px auto 50px;
  font-size: 14px;
  box-shadow: 2px 3px 3px rgb(187, 187, 187);
}

.submitBtn:hover {
  background-color: rgb(34, 34, 124);
}

@media only screen and (max-width: 968px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
